body {
    margin: 0;
    padding: 0;
    font-family: 'ArialMT';
    color: #808080;
    font-size: 15px;
    font-weight: 400;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

h1 {
    color: #4d4d4d;
    font-family: 'Bebas Neue Book';
    font-size: 38px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 3.8px;
}

h2 {
    color: #4d4d4d;
    font-family: 'Bebas Neue Bold';
    font-size: 21px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    margin: 0;
    padding: 0;
}

h2 span {
    color: #ef5f60;
    letter-spacing: 2.1px;
}

a {
    text-decoration: none;
}

.site-navigation-list {
    list-style: none;
    text-align: right;
}

.site-navigation-item a {
    font-family: "Bebas Neue Bold";
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;
    color: #4d4d4d;
}

.about h1 {
    margin-bottom: 20px;
}

.specialization {
    margin: 0;
    padding: 0;
}

.favorites {
    display: block;
    width: 36px;
    height: 36px;
    margin-top: 5px;
}

.button {
    background-color: #ef5f60;
}

.favorites img {
    padding: 13px 12px;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 55px;
}

.site-navigation {
    display: flex;
}

.site-navigation-list {
    width: 480px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-right: 40px;
    padding: 12px 0 11px;
}

.about {
    width: 100%;
    background-color: #f1f4f5;
    padding: 40px 0 65px 0;
}

.button {
    color: #ffffff;
    font-family: 'Bebas Neue Bold';
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}

.portfolio {
    margin-top: 70px;
}

.portfolio-h2 {
    margin: 0;
    padding: 0;
    letter-spacing: 2.1px;
    padding-top: 10px;
}

.portfolio-filter {
    margin: 0;
    padding: 0;
    line-height: 23.1px;
    letter-spacing: 1.14px;
    padding: 10px 15px;
}

.portfolio-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.portfolio-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.portfolio-item {
    margin-bottom: 10px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 65px;
}

.contact-us-button {
    margin: 0;
    padding: 0;
    padding: 13px 18px;
    margin-top: 15px;
}

.letter {
    margin: 0;
    padding: 0;
    padding-right: 5px;
}

.contact-us-title {
    color: #4d4d4d;
    font-family: 'Bebas Neue Book';
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    margin: 0;
    padding: 0;
    margin-top: 40px;
}

.skills {
    padding: 0 15px;
    margin-bottom: 80px;
}

.skills-h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
}

.skills-h3 {
    margin: 25px 0 19px
}

.skills-description {
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.3px;
    margin: 0;
    padding: 0;
    margin-bottom: 45px;
}

.skills-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.skills-item {
    text-align: center;
}

.skills-item-description {
    width: 250px;
    line-height: 25px;
}

.skills-item-img {
    width: 110px;
    height: 110px;
    border-radius: 50px;
    background: #f1f4f5;
    margin: 0;
    padding: 0;
    margin: 0 auto;
}

.skills-icon {
    padding-top: 30px;
}

.journal-h2 {
    margin-bottom: 15px;
}

.journal-description {
    margin: 0;
    padding: 0;
}

.journal-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.journal-item {
    width: 558px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

.journal-img {
    height: 180px;
    width: 180px;
}

.journal-date {
    color: #c3c3c3;
    font-family: 'Bebas Neue', arial, sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1.36px;
    margin: 0;
    padding: 0;
}

.h3 {
    color: #4d4d4d;
    font-family: 'Bebas Neue Bold';
    font-size: 19px;
    text-transform: uppercase;
    letter-spacing: 1.52px;
}

.journal-item-description {
    width: 353px;
    line-height: 26px;
    letter-spacing: 0.3px;
    margin: 0;
}

.journal-item-h3 {
    margin: 10px 0 15px;
    letter-spacing: 2.1px;
}

.footer {
    background-color: #2d2d30;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px 0;
    margin-top: 145px;
}

.copyright {
    margin: 0;
}

.socials-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 178px;
    margin-top: 25px;
}